.hosts {
	margin: 1%;
	overflow: auto;
}

.hosts .list .item .content {
	width: 100%;
}

.hosts .category {
	margin-bottom: 1%;
}

.hosts .category .sort-by {
	text-decoration: underline;
	cursor: pointer;
}

.badges {
	float: right;
}
